.loader {
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #020c1b;
}

.logo-wrapper {
  width: max-content;
  max-width: 100px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}

.logo-svg {
  width: 100px;
  height: 100px;
  color: var(--green);
  fill: none;
}
