.wrapper {
  color: var(--green);
  font-size: var(--fs-sm);
  padding: 12px 16px;
  border: 1px solid var(--green);
  line-height: 1;
  background-color: transparent;
  border-radius: 4px;
  font-family: var(--font-mono);
}
