.wrapper {
  color: var(--green);
  font-size: var(--fs-sm);
  padding: 12px 16px;
  border: 1px solid var(--green);
  line-height: 1;
  background-color: transparent;
  border-radius: 4px;
  font-family: var(--font-mono);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.wrapper:hover {
  transform: translate(-4px, -4px);
  box-shadow: 3px 3px 0 0 var(--green);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.large {
  padding: 20px 28px;
}

.example-container button {
  background: white;
  border-radius: 2px;
  width: 150px;
  height: 150px;
}
