.container {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100vh;
}

#about {
  height: 100vh;
}

.heading {
  color: #fff;
  padding: 50px;
  line-height: 1.4;
}

.heading2 {
  color: #fff;
}

.highlight {
  font-weight: 600;
  font-style: italic;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #5ebbff -33%, #a174ff 69%);
  -webkit-background-clip: text;
}
