.home {
}

.hero {
  display: flex;
}

.intro {
  margin-right: 80px;
  width: 500px;
  color: #fff;
}

.intro__title {
  background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
    #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.intro__desc {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: justify;
  line-height: 1.4;
}

.pic__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

// Tech stack
.tech-stack {
  display: flex;
  margin-top: 60px;
}

.tech-stack__text {
  margin: auto 0;
  padding-right: 20px;
  border-right: 2px solid #fff;
  font-size: 2rem;
  line-height: 40px;
  color: #fff;
}

.skill-list {
  list-style-type: none;
  display: flex;
}

.skill-item {
  padding: 0 20px;
}

.skill-item__img {
  height: 50px;
}

.js-logo {
  width: 45px;
  height: 45px;
  transform: translateY(2px);
}

//

.text-highlight {
  font-weight: 600;
  font-style: italic;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #5ebbff -33%, #a174ff 69%);
  -webkit-background-clip: text;
}
