// .header {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   color: #fff;
// }

// .logo {
//   color: #fff;
//   font-weight: 700;
//   font-size: 3.2rem;
//   padding: 2rem;
//   background-image: linear-gradient(
//     268.67deg,
//     rgb(255, 240, 102) 15.69%,
//     rgb(255, 163, 26) 55.54%,
//     rgb(255, 0, 115) 99%
//   );
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
// }

// .header-list {
//   display: flex;
//   list-style-type: none;
//   font-size: 2.4rem;
//   font-weight: 700;
//   position: relative;
// }

// .header-list .line {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 0;
//   height: 4px;
//   background-color: #fff;
//   border-radius: 15px;
//   background-image: linear-gradient(
//     268.67deg,
//     rgb(255, 240, 102) 15.69%,
//     rgb(255, 163, 26) 55.54%,
//     rgb(255, 0, 115) 99%
//   );
//   transition: all 0.3s ease;
// }

// .header-list .item a {
//   padding: 2rem 2.4rem 2.4rem;
//   display: block;
// }

// .header-list .item.active {
//   background-image: linear-gradient(
//     268.67deg,
//     rgb(255, 240, 102) 15.69%,
//     rgb(255, 163, 26) 55.54%,
//     rgb(255, 0, 115) 99%
//   );
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
// }

// .header-list .item:hover {
//   background-image: linear-gradient(
//     268.67deg,
//     rgb(255, 240, 102) 15.69%,
//     rgb(255, 163, 26) 55.54%,
//     rgb(255, 0, 115) 99%
//   );
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
// }

.wrapper {
  // position: fixed;
  // z-index: 999;
  // top: 0;
  // left: 0;
  // right: 0;
  // width: 1428px;
  // height: 100px;
  // padding: 0 50px;
  // display: flex;
  // align-items: center;
  // margin: 0 auto;
  // box-shadow: 0 10px 30px -10px var(--navy-shadow);
  // background-color: rgba(10, 25, 47, 0.85);
  // backdrop-filter: blur(10px);
}

.wrapper.top {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 1428px;
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: all 0.2s ease;
}

.wrapper.show {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 1428px;
  height: 70px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transform: translateY(0);
  transition: all 0.3s ease;
}

.wrapper.hide {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 1428px;
  height: 70px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  // background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transform: translateY(-100px);
  transition: all 0.3s ease;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100%;
}

.logo-svg {
  width: 42px;
  height: 48px;
  color: var(--green);
  fill: none;
}

// Nav ----------------------------------------------------------------
.nav {
  display: flex;
  font-family: var(--font-mono);

  ol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ol li {
  font-size: 1.3rem;
  counter-increment: item 1;
  list-style-type: none;
  margin: 0px 5px;

  ::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: 1.2rem;
    text-align: right;
  }

  &:hover a {
    color: var(--green);
    transition: all 0.8 ease;
  }
}

ol li a {
  color: #ccd6f6;
  padding: 10px;
}
