// Common
.wrapper-right::after,
.social-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: #a8b2d1;
}

// Aside left, right
.wrapper-right,
.wrapper-left {
  width: 40px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: #a8b2d1;
}

.wrapper-left {
  left: 40px;
}

.wrapper-right {
  right: 40px;
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  li a {
    padding: 10px;
    display: block;
  }

  li:last-child {
    margin-bottom: 20px;
  }
}

.aside-icon {
  width: 20px;
  height: 20px;
}

// Aside right

.wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  writing-mode: vertical-rl;
  margin: 20px auto;
  padding: 10px;
  align-items: center;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-family: var(--font-mono);
}
