.app {
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  // background-color: #0d1018;
  // height: 100vh;
  // width: 100vw;
}

.circle-img,
.square-img {
  position: absolute;
  z-index: -1;
}
.square-img {
  left: -128px;
  bottom: 20px;
}

.circle-img {
  right: -128px;
  top: 200px;
}
